/* cards css*/ 
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .link-boxes {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .link-boxes a {
    -webkit-flex-basis: 23%;
    -ms-flex-preferred-size: 23%;
    flex-basis: 23%;
    max-width: 23%;
    margin: 1%;
    min-width: 250px;
    text-align: center;
    text-decoration: none;
    color: white;
    background: #222;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  
    -webkit-border-radius: 5px;
  
    border-radius: 5px;
    -webkit-transition: 0.2s transform ease-out;
    -o-transition: 0.2s transform ease-out;
    transition: 0.2s transform ease-out;
    position: relative;
  }
  
  .link-boxes a:hover {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10, 0, 1);
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -10, 0, 1);
  }
  
  .link-boxes a:after {
    height: 10px;
    width: 100%;
    content: "";
    margin-top: 15px;
    position: absolute;
    bottom: -30px;
    opacity: 0;
    -webkit-transition: 0.2s ease-out;
    -o-transition: 0.2s ease-out;
    transition: 0.2s ease-out;
    background: -webkit-radial-gradient(
      center,
      ellipse cover,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.63) 2%,
      rgba(0, 0, 0, 0.2) 47%,
      rgba(0, 0, 0, 0) 68%
    );
    background: -webkit-radial-gradient(
      center,
      ellipse,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.63) 2%,
      rgba(0, 0, 0, 0.2) 47%,
      rgba(0, 0, 0, 0) 68%
    );
    background: -o-radial-gradient(
      center,
      ellipse,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.63) 2%,
      rgba(0, 0, 0, 0.2) 47%,
      rgba(0, 0, 0, 0) 68%
    );
    background: radial-gradient(
      ellipse at center,
      rgba(0, 0, 0, 0.65) 0%,
      rgba(0, 0, 0, 0.63) 2%,
      rgba(0, 0, 0, 0.2) 47%,
      rgba(0, 0, 0, 0) 68%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr="#a6000000",
        endColorstr="#00000000",
        GradientType=1
      );
  }
  
  .link-boxes a:hover:after {
    bottom: -40px;
    opacity: 0.2;
  }
  
  .link-img-background {
    width: 100%;
    position: relative;
    height: 170px;
    overflow: hidden;
  }
  
  .link-img-background img {
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    -webkit-transition: 0.12s transform ease-out;
    -o-transition: 0.12s transform ease-out;
    transition: 0.12s transform ease-out;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    position: relative;
    width: 100%;
    height: 200px;
    z-index: 1;
  }
  
  .link-img-background:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.3);
    z-index: 2;
    -webkit-transition: 0.2s opacity ease-out;
    -o-transition: 0.2s opacity ease-out;
    transition: 0.2s opacity ease-out;
  }
  
  .link:hover .link-img-background:after {
    opacity: 0;
  }
  
  .link-boxes .link-text {
    font-size: 1.4em;
    font-family: inherit;
    padding: 10px;
    background: #222;
    width: 100%;
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
  }
/*CARDS CSS*/  
html {
  scroll-behavior: smooth;
}